<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Herramienta Web Hackaton" />
<meta name="author" content="FredSons Team">

<title>
  <%= title %>
</title>

<link rel="icon" href="/images/logo.jpeg" type="image/jpeg">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
<link rel="stylesheet" href="/assets/vendor/nucleo/css/nucleo.css" type="text/css">
<link rel="stylesheet" href="/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
<link rel="stylesheet" href="/assets/css/argon.css?v=1.1.0" type="text/css">
<link rel="stylesheet" href="/styles/style.css">